#back {
    position: absolute;
    background-image: url("back.jpg");
    border: black 1px solid;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 100%;
    min-height: 100%;
}

/*#back:hover #b6{*/
/*    visibility: visible;*/
/*    z-index: 100;*/
/*    top:50px;*/
/*    left: 200px;*/
/*}*/
.card {
    visibility: hidden;
    position: absolute;
    width: 60px;
    height: 90px;
    background-size: 100% 100%;
    object-fit: fill;
    border: black 1px solid;
}
.b{
    display: block;
    font-size: 15px;
    width: 8em;
    height: auto;
    text-align: center;
    font-weight: 700;
   border-radius: 3px;
   background: rgb(64,199,129);;
}
.buttons{
    position: absolute;
    top: 40%;
}
#end_move:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255,255,255,0.8);
    opacity: 0.7;
}


/*.animated{*/
/*    visibility: visible;*/
/*    animation-name: rocket;*/
/*    animation-duration: 1s;*/
/*}*/

/*@keyframes rocket {*/
/*   0%   {  transform:translate(0)    }*/
/*   100%  {  transform:translate(0, -50%) }*/
/*       70%  {  opacity:1; }*/
/*       100%  {  opacity:0; }*/

/*}*/
.choosen{
    box-shadow: 0 5px 5px 2px gold;
}
.must_beat{
    box-shadow: 0 5px 5px 2px blue;
}

.beat{
    box-shadow: 0 5px 5px 2px indigo;
}